@using TenancyContract.Areas.Tenantarea.Views.Shared
@{
    ViewData["Title"] = "Message";
    ViewData["ActivePage"] = ManageNavPages.Message;
}
<h4 class="text-center">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-9">
        Message
    </div>
</div>