@using TenancyContract.Areas.Houseowner.Views.Shared
@{
    ViewData["Title"] = "Account Settings";
    ViewData["ActivePage"] = ManageNavPages.AccountSettings;
}

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        Account Settings
    </div>
</div>
