@using TenancyContract.Areas.Houseowner.Views.Shared
@{
    ViewData["Title"] = "Contract Paper";
    ViewData["ActivePage"] = ManageNavPages.ContractPaper;
}

<h4 class="text-center">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
        <div class="card-body">
        <!-- <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-search"><i class="fas fa-search"></i> Search</button>
        </form> -->
                        <!-- Card Narrower -->
            <div class="row">

            <div class="col-md-4">       
               <div class="card" style="width: 18rem;" id="deed">
                    <img class="card-img-top" src="~/images/deed.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Type One</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="Formone" class="btn btn-primary">Go to Form</a>
                        <a href="#" class="btn btn-warning offset-3">Demo</a>
                    </div>
                </div>
            </div> 

            <div class="col-md-4">       
               <div class="card" style="width: 18rem;" id="deed">
                    <img class="card-img-top" src="~/images/deed.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Type Two</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go to Form</a>
                        <a href="#" class="btn btn-warning offset-3">Demo</a>
                    </div>
                </div>
            </div> 

            <div class="col-md-4">       
               <div class="card" style="width: 18rem;" id="deed">
                    <img class="card-img-top" src="~/images/deed.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Type Three</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go to Form</a>
                        <a href="#" class="btn btn-warning offset-3">Demo</a>
                    </div>
                </div>
            </div> 

            </div>
            
                <!-- Card Narrower -->
        </div>
        </div>        

    </div>
</div>