@using TenancyContract.Areas.Houseowner.Views.Shared
@{
    ViewData["Title"] = "Important Numbers";
    ViewData["ActivePage"] = ManageNavPages.Numbers;
}

<h4 class="text-center">@ViewData["Title"] </h4>
<div class="row">
    <div class="col-md-6">
        Add Numbers
    </div>
</div>
